# CloudflareR2
CloudflareR2_token_value = ###
CloudflareR2_access_key_id = ###
CloudflareR2_secret_access_key = ###
CloudflareR2_jurisdiction_specific_endpoints = ###

#Firebase
firebase_type = ###
firebase_project_id = ###
firebase_private_key_id = ###
firebase_private_key = ###
firebase_client_email = ###
firebase_client_id = ###
firebase_auth_uri = ###
firebase_token_uri = ###
firebase_auth_provider_x509_cert_url = ###
firebase_client_x509_cert_url = ###
firebase_universe_domain = ###

#GCP
GCP_type = ###
GCP_project_id = ###
GCP_private_key_id = ###
GCP_private_key = ###
GCP_client_id = ###
GCP_auth_uri = ###
GCP_token_uri = ###
GCP_auth_provider_x509_cert_url = ###
GCP_client_x509_cert_url = ###
GCP_universe_domain = ###

#Discord
Discord_token = ###
Discord_charbot_token = ###
Discord_pmmanager_token = ###
Discord_server_id = ###
Discord_webhook_url = ###

#Dify
Dify_token = ###
Dify_baseurl = ###

#Notion
Notion_token = ###